//- Page Index Layout
section.other-solutions
		div.container
			div.other-solutions-content.animate
				h2.secondary-title Other Solutions
				ul.list-solutions
					li.solution.money
						h3 Price Reporting
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.
					li.solution.globe
						h3 Global Imflation Monitor
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.
					li.solution.spiral
						h3 City and Sector Coverage
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.
					li.solution.tag
						h3 Discount Data
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.
					li.solution.arrow
						h3 Price Spike Monitor
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.
					li.solution.mobile
						h3 On-te Ground Truth
						p Get prices for top products, for any brand, online or offline. Mauris egget mollis nibh. Aliquam erat volupat adiam tortor Lore ipsum dolor amet.

	section.subscribe
		div.container
			div.subscribe-content.animate
				h4.secondary-title Learn More
				p I'm copy that explains the signup process. Mauris egget mollis nibh. Aliquam erat volupat a diam tortor Lore ipsum dolor sit amet. Consectetur adipiscing elit.
				form.form-inscription
					div.form-section
						input(type="text", placeholder="Your name", class="form-control")
					div.form-section
						input(type="email", placeholder="Your email", class="form-control")
					div.form-section
						input(type="submit", value="Submit",  class="btn btn-default")