//- Footer Layout
footer.footer
	div.container
		div.footer-content
			div.logo-footer-block
				a(href="#", title="#", class="logo-footer") Illusion
			div.menu-left
				ul
					li
						a(href="#", title="#") Explore
					li
						a(href="#", title="#") Solutions
					li
						a(href="#", title="#") Insights
			div.menu-right
				ul
					li
						a(href="#", title="#") About
					li
						a(href="#", title="#") Contact
					li
						a(href="#", title="#") Sign-up

//- Scrips for all pages
script(src="js/vendor/jquery-1.12.2.min.js")
script(src="js/vendor/bootstrap.min.js")
script(src="js/vendor/webfontloader.js")
script(src="js/vendor/wow.js")
script(src="js/default.js")
+analytics(siteID)