//- Header Layout
div.banner
	header.header.container
		div.header-content
			nav.navbar
				div.navbar-header
					button(class="navbar-toggle", type="button", data-toggle="collapse", data-target="#bar1")
						span(class="sr-only") Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					div.logo 
						a(href="#", title="", class="illusion") Illusion
				div#bar1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="#", title="#") Explore
						li
							a(href="#", title="#") Solutions
						li
							a(href="#", title="#") Insights
						li
							a(href="#", title="#") About
						li
							a(href="#", title="#") Sign-up
	div.banner-inner.container.animate
		div.banner-content
			h1.banner-lead I'am a statement about the markets Premise services. Ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus porttior dui.
			ul.list-services
				li.service
					h2.globe
						span.secondary-title Premisse for:
						| Global Inflation
					p Short intro copy. Integer malesuada ipsum aliquet quam laorret, non aliquet
					a(href="#", title="#" class="btn btn-default") Go There
				li.service
					h2.coins
						span.secondary-title Premisse for:
						| Price Inteligence
					p Short intro copy. Integer malesuada ipsum aliquet quam laorret, non aliquet
					a(href="#", title="#" class="btn btn-default") Go There
				li.service
					h2.pocket
						span.secondary-title Premisse for:
						| Food Shortage Monitor
					p Short intro copy. Integer malesuada ipsum aliquet quam laorret, non aliquet
					a(href="#", title="#" class="btn btn-default") Go There